# Quest√£o 1

In [3]:
import os
import re
import nltk
import random
import string
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from nltk.tokenize import RegexpTokenizer

In [8]:
path = "./data/corpus_bbc.csv"

df_corpus = pd.read_csv(path, sep=';', index_col=0)
print(f"Shape of DF {df_corpus.shape}")
df_corpus.describe()

Shape of DF (2225, 3)

                id
count  2225.000000
mean    226.321798
std     134.218688
min       1.000000
25%     112.000000
50%     223.000000
75%     334.000000
max     511.000000

In [9]:
df_corpus.columns

Index(['id', 'content', 'label'], dtype='object')

In [10]:
df_corpus.groupby(by=['label']).count()

                id  content
label
business       510      510
entertainment  386      386
politics       417      417
sport          511      511
tech           401      401